section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8vw);
  grid-gap: 10px;
}

.grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

li {
  list-style: none;
}

.popup {
  overflow-y: visible;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
